/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
/*Header Start*/

.h_logo {
    font-size: 22px;
}

.menu ul li a {
    margin-right: 0;
    padding: 5px 0;
    text-align: right;
}

.h_sr{
	float: right;
}

/*Header End*/

/*Slider start*/

.slider {
    padding: 20px 0 10px;
}

.b_text h1 {
    font-size: 25px;
}

.b_text p {
    margin: 20px 0 30px 0;
    font-size: 15px;
}

.b_btn{
    padding: 7px 5%;
}

.c_btn {
    font-weight: 600;
    font-size: 15px;
}

.s_ccin {
    bottom: -26.7%;
    left: 34%;
}

.s_ccin [data-bs-target] {
    padding: .4px;
    height: 11px;
}

.sli_c {
    top: 113%;
}

.s_ccp {
    left: 35%;
}

.s_ccn {
    left: 65%;
}

/*Slider start*/

/*Welcome start*/

.c_h1 {
    margin: 15px 0 0;
    font-size: 25px;
}

.vl {
    height: 40px;
}

.w_vl{
    margin: 60px 50% 0;
}

.w_h1 {
    margin: 20px 0 40px;
}

/*Welcome end*/

/*Feature start*/

.f_item {
    margin: 70px 0 0;
}

/*Feature end*/

/*About us start*/

.about-us {
    padding: 70px 0;
}

.abu_img {
    padding: 0 20px;
}

.abu_text{
    text-align: center;
}

.abu_h1 {
    margin: 40px 0;
}

.abu_text p{
    margin: 0 0 40px 0;
}

/*About us end*/

/*Recent work start*/

.rw_h1 {
    padding: 0 0 100px;
}

.rwr_ci {
    margin-right: 0;
    margin-left: 0;
    bottom: 100%;
}

 .rwr_ci [data-bs-target] {
    margin: 0 3px;
    padding: 3px 5px;
    font-size: 12px;
}

.rw_ca {
    margin: 25px 10px 0;
}

.re_info {
    width: 516px;
    padding: 15px 15px 10px;
}

.re_info h2 {
  margin-bottom: 5px;
}

.overlay i {
  top: 30%;
  left: 40%;
}

/*Recent work end*/

/*Why Choose start*/

.why_choose {
    padding-bottom: 80px;
}

.wc_items {
    margin: 80px 0 0;
    text-align: center;
}

.wc_lih {
    margin: 15px 0 0 10px;
}

.wc_items p {
        margin: 20px 0;
}

/*Why Choose end*/

/*Who work with us end*/

.who-work-with-us {
    padding-bottom: 70px;
}

.wwwu_item {
    margin: 80px 0 0;
}

/*Who work with us start*/

/*Best pricing start*/


.best-pricing {
    padding-bottom: 80px;
}

.bp_item {
    margin-top: 80px;
    padding: 30px 29px 20px;
}

/*Best pricing end*/

/*Nipro Responsive HTML Template start*/

.nrht {
    margin-bottom: 170px;
}

.nrht_titel{
    text-align: center;
}


.nrht_titel h1 {
    margin: 0 0 25px;
}

.nrht_it_btn {
    margin-left: 0;
    display: block;
}

.nrht_btn {
    padding: 10px 40px;
}

/*Nipro Responsive HTML Template end*/

/*Co-Founder & COO start*/

.cofo_ind {
    right: unset; 
    top: -55px;
    height: 0;
    width: 100%;
    flex-direction: unset;
    align-items: center;
}

.cofo_ind [data-bs-target] {
    width: 2px;
    height: 13px;
    margin: 0 4px;
}

.cofo_content {
    padding: 15px 15px;
}

.cofo_i {
    top: 16px;
    font-size: 40px;
}

.cofo_img {
    margin: 0 0 20px;
}

.cofo_p {
    margin: 5px 0;
}

.cofo_p2 {
    margin: 20px 0;
}

.cofo_pn_btn {
    padding: 35px 49.85%;
    top: -90px;
    writing-mode: unset;
}

.cofo_com_btn {
    right: unset;
}

.cofo_ct_p {
    top: 20px;
    left: 20px;
}

.cofo_ct_n{
    top: 20px;
    right: 20px;
}

/*Co-Founder & COO end*/

/*Support start*/

.s_form {
    margin: 0;
}

.sform_h1 {
    width: 178px;
    top: -16px;
}

.s_form_items {
    padding: 60px 10px 20px;
}

.sform_im {
    padding: 15px 0 10px 0px;
}

.sform_im::placeholder {
    text-align: center;
}

/*Support end*/

/*Footer start*/

.f_start {
    padding-bottom: 60px;
}

.f_p {
    margin: 40px 12% 50px;
    color: var(--wh);
}

.f_a5 {
    display: inline-block;
    margin: 27px 0 0 7px;
    padding: 9px 15px;
}

.f_a6 {
    margin-right: 10px;
    padding: 12px 11px;
}

.fe_p {
    margin: 20px 25px !important;
    text-align: center;
}

.fe_ul {
    float: unset;
    text-align: center;
}

.fe_li {
    margin: 5px 10px !important;
}

/*Footer end*/

}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
/*Header Start*/

.menu ul li a {
    margin-right: 0;
    padding: 5px 0;
    text-align: right;
}

.h_sr{
	float: right;
}

/*Header End*/

/*Slider start*/

.slider {
    padding: 35px 0 65px;
}

.b_text h1 {
    font-size: 40px;
}

.b_text p {
    margin: 30px 0 40px 0;
}

.s_ccin {
    bottom: -29.7%;
    left: -5%;
}

.s_ccin [data-bs-target] {
    padding: .4px;
    height: 11px;
}

.sli_c {
    top: 116%;
}

.s_ccp {
    left: 4.2%;
}

.s_ccn {
    left: 15%;
}

/*Slider start*/

/*Welcome start*/



/*Welcome end*/

/*Feature start*/

.f_item {
    margin: 80px 0 0;
}

/*Feature end*/

/*About us start*/

.about-us {
    padding: 70px 0;
}

.abu_img {
    padding: 0 50px;
}

.abu_text{
    text-align: center;
}

.abu_h1 {
    margin: 40px 0;
}

.abu_text p{
    margin: 0 0 40px 0;
}

/*About us end*/

/*Recent work start*/

.rw_h1 {
    padding: 0 0 135px;
}

.rwr_ci {
    margin-right: 0;
    margin-left: 0;
    bottom: 100%;
}

.rwr_ci [data-bs-target] {
    margin: 0 8px;
    padding: 7px 7px;
    font-size: 15px;
}

.rw_ca {
    margin: 40px 30px 0;
}

.re_info {
    width: 516px;
}

/*Recent work end*/

/*Why Choose start*/

.wc_items {
    margin: 80px 0 0;
}

.wc_h2 {
    font-size: 17px;
}

.wc_items p {
    margin: 15px 0;
}

/*Why Choose end*/

/*Who work with us end*/

.why_choose {
    padding-bottom: 80px;
}

.wwwu_item{
    margin: 80px 0 0;
}

.wwwu_col {
    padding: 0 10px;
}

.wwwu_text {
    padding: 13px;
}

.wwwu_ul {
    top: 20px;
}

.wwwu_li {
    padding: 10px 5px 4px;
}

.wwwu_i {
    font-size: 20px;
}

.wwwu_h5 {
    font-size: 17px;
}

/*Who work with us start*/

/*Best pricing start*/

.best-pricing {
    padding-bottom: 80px;
}

.bp_item {
    margin-top: 80px;
    padding: 30px 20px 20px;
}

.bp_btn {
    padding: 15px 50px;
}

/*Best pricing end*/

/*Nipro Responsive HTML Template start*/

.nrht {
    margin-bottom: 170px;
}

.nrht_titel{
    text-align: center;
}


.nrht_titel h1 {
    margin: 0 0 25px;
}

.nrht_it_btn {
    margin-left: 0;
    display: block;
}

.nrht_btn {
    padding: 10px 40px;
}

/*Nipro Responsive HTML Template end*/

/*Co-Founder & COO start*/

.cofo_ind {
    right: unset; 
    top: -55px;
    height: 0;
    width: 100%;
    flex-direction: unset;
    align-items: center;
}

.cofo_ind [data-bs-target] {
    width: 2px;
    height: 13px;
    margin: 0 4px;
}

.cofo_i {
    top: 41px;
    font-size: 60px;
}

.cofo_img {
    margin: 0 0 20px;
}

.cofo_p {
    margin: 5px 0;
}

.cofo_p2 {
    margin: 20px 0;
}

.cofo_pn_btn {
    padding: 35px 257px;
    top: -90px;
    writing-mode: unset;
}

.cofo_com_btn {
    right: unset;
}

.cofo_ct_p {
    top: 20px;
    left: 50px;
}

.cofo_ct_n{
    top: 20px;
    right: 50px;
}

/*Co-Founder & COO end*/

/*Support start*/

.support {
    padding-bottom: 80px;
}

.s_form_items {
    padding: 60px 20px 20px;
}


.sform_im {
    margin-bottom: 10px;
}

/*Support end*/

/*Footer start*/

.f_start {
    padding-bottom: 80px;
}

.f_p {
    margin: 40px 20%;
    color: var(--wh);
}

.fe_p {
    margin-bottom: 20px !important;
    text-align: center;
}

.fe_ul {
    float: unset;
    text-align: center;
}

.fe_li {
    margin: 0 6px !important;
}

.f_ul {
    margin: 0 44px;
}

/*Footer end*/

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
/*Header Start*/

.menu ul li a {
    margin-right: 0;
    padding: 7px 0;
    text-align: right;
}

.h_sr{
	float: right;
}

/*Header End*/

/*Slider start*/

.slider {
    padding: 40px 0 100px;
}

.s_ccin {
    bottom: -36.7%;
    left: -6%;
}

.s_ccin [data-bs-target] {
    padding: .4px;
    height: 11px;
}

.sli_c {
    top: 125%;
}

.s_ccp {
    left: 3.6%;
}

.s_ccn {
    left: 13%;
}

/*Slider start*/
/*Welcome start*/

.c_h1 {
    margin: 20px 0 0;
}

.w_p {
    margin: 30px 0 0;
}

/*Welcome end*/

/*Feature start*/

.f_item {
    margin: 80px 25px 0;
}

/*Feature end*/

/*About us start*/

.about-us {
    padding: 80px 0;
}

.abu_img {
    padding: 0 100px;
}

.abu_text{
    text-align: center;
}

.abu_text p{
    margin: 0 70px 40px;
}

.abu_h1 {
    margin-top: 50px;
}

/*About us end*/

/*Recent work start*/

.recent-work {
    padding-bottom: 80px;
}

.rw_h1 {
    padding: 0 0 135px;
}

.rwr_ci {
    margin: 30px 0px;
    bottom: 100%;
}

.rwr_ci [data-bs-target] {
    margin: 0px 17px;
    padding: 10px 4px;
}

/*Recent work end*/

/*Why Choose start*/

.why_choose {
    padding-bottom: 80px;
}

.wc_items {
    margin: 80px 0 0;
}

.wc_items p {
    margin: 20px 0 30px;
}

/*Why Choose end*/

/*Who work with us start*/

.who-work-with-us {
    padding-bottom: 80px;
}

.wwwu_item{
  margin: 80px 0 0;
}

/*Who work with us end*/

/*Best pricing start*/

.best-pricing {
    padding-bottom: 80px;
}

.bp_item {
    margin-top: 80px;
}

.bp_btn {
    padding: 18px 85px;
}

/*Best pricing end*/

/*Nipro Responsive HTML Template start*/

.nrht {
    margin-bottom: 170px;
}

.nrht_it_btn {
    margin-left: 158px;
}

/*Nipro Responsive HTML Template end*/

/*Co-Founder & COO start*/

.cofo_ind {
    right: unset; 
    top: -55px;
    height: 0;
    width: 100%;
    flex-direction: unset;
    align-items: center;
}

.cofo_ind [data-bs-target] {
    width: 2px;
    height: 13px;
    margin: 0 4px;
}

.cofo_i {
    top: 91px;
}

.cofo_img {
    margin: 50px 0;
}

.cofo_p {
    margin: 10px 0;
}

.cofo_p2 {
    margin: 25px 0;
}

.cofo_pn_btn {
    padding: 35px 347px;
    top: -90px;
    writing-mode: unset;
}

.cofo_com_btn {
    right: unset;
}

.cofo_ct_p {
    top: 20px;
    left: 50px;
}

.cofo_ct_n{
    top: 20px;
    right: 50px;
}

/*Co-Founder & COO end*/

/*Support start*/

.s_form_items {
    padding: 80px 90px 20px;
}

/*Support end*/

/*Footer start*/

.f_start {
    padding-bottom: 80px;
}

.f_p {
    margin: 40px 29%;
    color: var(--wh);
}

.fe_p {
    margin-bottom: 20px !important;
    text-align: center;
}

.fe_ul {
    float: unset;
    text-align: center;
}

.fe_li {
    margin: 0 6px !important;
}

/*Footer end*/

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
/*Header Start*/

.menu ul li a {
    margin-right: 20px;
}

/*Header End*/

/*Slider start*/

.slider {
    padding: 100px 0;
}

.s_ccin {
    bottom: -40%;
    left: -10%;
}

.s_ccin [data-bs-target] {
    padding: .3px;
}

.sli_c {
    top: 127%;
}

.s_ccp {
    left: 1.2%;
}

.s_ccn {
    left: 8.2%;
}

/*Slider start*/

/*About us start*/

.abu_img {
    padding: 80px 0
}

/*About us end*/

/*Who work with us end*/

.wwwu_col {
    padding: 0 10px;
}

.wwwu_text {
    padding: 13px;
}

.wwwu_li {
    padding: 10px 5px 4px;
}

.wwwu_ul {
    top: 20px;
}

.wwwu_i {
    font-size: 20px;
}

.wwwu_h5 {
    font-size: 17px;
}

/*Who work with us start*/

/*Best pricing start*/

.bp_item {
    margin: margin: 80px 0 0;
    padding: 50px 18px 40px;
}

.bp_btn {
    padding: 18px 37px;
}

/*Best pricing end*/

/*Nipro Responsive HTML Template start*/

.nrht_it_btn {
    margin-left: 398px;
}

/*Nipro Responsive HTML Template end*/

/*Co-Founder & COO start*/

.cofo_ind {
    bottom: 215px;
}

.cofo_pn_btn {
    padding: 242px 35px;
}

/*Co-Founder & COO end*/

/*Support start*/

.s_form_items {
    padding: 80px 170px 20px;
}

/*Support end*/

/*Footer start*/

.fe_li {
    margin: 0 0 0 15px !important;
}

/*Footer end*/

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
/*Slider start*/

.slider {
    padding: 120px 0;
}

.b_text p {
    margin: 40px 110px 50px 0;
}

.s_ccin{
    bottom: -48%;
}

.sli_c{
    top: 136%;
}

/*Slider start*/

/*About us start*/

.abu_img {
    padding-right: 20px;
}

.abu_h1 {
    margin-bottom: 20px;
}

.abu_text p {
    margin: 0 1px 20px 0;
    line-height: 25px;
}

/*About us end*/

/*Best pricing start*/

.bp_btn {
    padding: 18px 48px;
}

/*Best pricing end*/

/*Nipro Responsive HTML Template start*/

.nrht_it_btn {
    margin-left: 578px;
}

/*Nipro Responsive HTML Template end*/

/*Co-Founder & COO start*/

.cofo_ind {
    bottom: 215px;
}

.cofo_pn_btn {
    padding: 237px 35px;
}

/*Co-Founder & COO end*/

/*Footer start*/

.fe_li {
    margin: 0 0 0 30px !important;
}

/*Footer end*/

}

/*Extra extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {
    
}