/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
/*Header Start*/

.h_logo {
    font-size: 22px;
}

.menu ul li a {
    margin-right: 0;
    padding: 5px 0;
    text-align: right;
}

.h_sr{
	float: right;
}

/*Header End*/

/*Slider start*/

.slider {
    padding: 20px 0;
}

.b_text h1 {
    font-size: 25px;
}

.b_text p {
    margin: 20px 0 30px 0;
    font-size: 15px;
}

.b_btn{
    padding: 10px 20px;
}

.c_btn {
    font-weight: 600;
    font-size: 15px;
}

/*Slider start*/

/*Welcome start*/

.c_h1 {
    font-size: 25px;
}

.w_h1 {
    margin: 20px 0 40px;
}

/*Welcome end*/

/*Feature start*/

.f_item {
    margin: 70px 0 0;
}

/*Feature end*/

/*About us start*/

.about-us {
    padding: 70px 0;
}

.abu_img {
    padding: 0 20px;
}

.abu_text{
    text-align: center;
}

.abu_h1 {
    margin: 40px 0;
}

.abu_text p{
    margin: 0 0 40px 0;
}

/*About us end*/

/*Recent work start*/

.rw_h1 {
    padding: 0 0 100px;
}

.rwr_ci {
    margin-right: 0;
    margin-left: 0;
    bottom: 100%;
}

 .rwr_ci [data-bs-target] {
    margin:0;
    padding:10px 10px;
    font-size: 10px;
}

.rw_ca {
    margin: 25px 10px 0;
}

.re_info {
    width: 516px;
    padding: 15px 15px 10px;
}

.re_info h2 {
  margin-bottom: 5px;
}

.overlay i {
  top: 30%;
  left: 40%;
}

/*Recent work end*/

/*Why Choose start*/

.why_choose {
    padding-bottom: 80px;
}

.wc_items {
    margin: 80px 0 0;
}

.c_wcli {
    margin: 0 23px;
}

.wc_lih {
    margin: 15px 0 0 10px;
}

.wc_lii {
    margin: 0 0 0 11px !important;
}

.wc_items p {
    margin: 20px 0;
    text-align: center;
}

/*Why Choose end*/

/*Who work with us end*/

.who-work-with-us {
    padding-bottom: 70px;
}

.wwwu_item {
    margin: 70px 0 0;
}

/*Who work with us start*/

/*Nipro Responsive HTML Template start*/

.bp_btn {
    padding: 18px 67px;
}

.nrht_titel h1 {
    font-size: 15px;
}

.nrht_titel h1 {
    margin: 0 100px 0 0;
    font-size: 15px;
}

.nrht_t_btn {
    top: 41px;
    right: 12px;
    padding: 10px 15px;
}

/*Nipro Responsive HTML Template end*/

/*Co-Founder & COO start*/

.cofo {
    padding-bottom: 80px;
}

.nrht {
    margin-bottom: 180px;
}

.cofo_pn_btn {
    padding: 35px 147px;
    top: -90px;
    writing-mode: unset;
}

.cofo_ct_p {
    top: 19px;
    right: 0; 
    left: -190px;
}

.cofo_ct_n{
    top: 19px;
    right: -190px; 
    left: 0;
}

.cofo_ind {
    height: 0;
    right: 0;
    top: -68px;
    margin: 0;
    flex-direction: row;
    align-items: flex-start;
}

.cofo_img {
    margin: 0 0 10px;
    position: relative;
}

.cofo_i {
    top: 21px;
    font-size: 45px;
}

.cofo_ind [data-bs-target] {
    margin: 0 4px 0;
    width: 2px;
    height: 18px;
}

.cofo_content {
    padding: 20px 15px;
}

.cofo_p {
    margin: 10px 0;
}

.cofo_p2 {
    margin: 20px 0;
}

/*Co-Founder & COO end*/

}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
/*Header Start*/

.menu ul li a {
    margin-right: 0;
    padding: 5px 0;
    text-align: right;
}

.h_sr{
	float: right;
}

/*Header End*/


/*Slider start*/

.slider {
    padding: 35px 0;
}

.b_text h1 {
    font-size: 40px;
}

.b_text p {
    margin: 30px 0 40px 0;
}

/*Slider start*/

/*Welcome start*/



/*Welcome end*/

/*Feature start*/

.f_item {
    margin: 100px 0 0;
}

/*Feature end*/

/*About us start*/

.about-us {
    padding: 70px 0;
}

.abu_img {
    padding: 0 50px;
}

.abu_text{
    text-align: center;
}

.abu_h1 {
    margin: 40px 0;
}

.abu_text p{
    margin: 0 0 40px 0;
}

/*About us end*/

/*Recent work start*/

.rw_h1 {
    padding: 0 0 150px;
}

.rwr_ci {
    margin-right: 0;
    margin-left: 0;
    bottom: 100%;
}

.rwr_ci [data-bs-target] {
        margin: 0;
        padding: 20px 10px;
}

.rw_ca {
    margin: 40px 30px 0;
}

.re_info {
    width: 516px;
}

/*Recent work end*/

/*Why Choose start*/



/*Why Choose end*/

/*Who work with us end*/

.wwwu_item{
    margin: 80px 0 0;
}

.wwwu_col {
    padding: 0 10px;
}

.wwwu_text {
    padding: 13px;
}

.wwwu_ul {
    top: 20px;
}

.wwwu_li {
    padding: 10px 5px 4px;
}

.wwwu_i {
    font-size: 20px;
}

.wwwu_h5 {
    font-size: 17px;
}

/*Who work with us start*/

/*Nipro Responsive HTML Template start*/

.bp_btn {
    padding: 18px 40px;
}

.nrht_titel h1 {
    font-size: 15px;
}

.nrht_t_btn {
    right: 30px;
}

/*Nipro Responsive HTML Template end*/


/*Co-Founder & COO start*/

.cofo {
    padding-bottom: 80px;
}

.nrht {
    margin-bottom: 180px;
}

.cofo_pn_btn {
    padding: 35px 257px;
    top: -90px;
    writing-mode: unset;
}

.cofo_ct_p {
    top: 19px;
    right: 0; 
    left: -340px;
}

.cofo_ct_n{
    top: 19px;
    right: -340px; 
    left: 0;
}

.cofo_ind {
    height: 0;
    right: 0;
    top: -68px;
    margin: 0;
    flex-direction: row;
    align-items: flex-start;
}

.cofo_img {
    margin: 0 0 10px;
    position: relative;
}

.cofo_i {
    top: 21px;
    font-size: 60px;
}

.cofo_ind [data-bs-target] {
    margin: 0 4px 0;
    width: 2px;
    height: 18px;
}

.cofo_content {
    padding: 20px 15px;
}

.cofo_p {
    margin: 10px 0;
}

.cofo_p2 {
    margin: 20px 0;
}

/*Co-Founder & COO end*/

}


/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
/*Header Start*/

.menu ul li a {
    margin-right: 0;
    padding: 7px 0;
    text-align: right;
}

.h_sr{
	float: right;
}

/*Header End*/

/*Slider start*/

.slider {
    padding: 100px 0;
}

/*Slider start*/

/*Welcome start*/

.w_h1 {
    margin: 20px 0 40px;
}

/*Welcome end*/

/*Feature start*/

.f_item {
    margin: 100px 0 0;
}

/*Feature end*/

/*About us start*/

.abu_img {
    padding: 0 100px;
}

.abu_text{
    text-align: center;
}

.abu_text p{
    margin: 0 70px 40px;
}

.abu_h1 {
    margin-top: 50px;
}

/*About us end*/

/*Recent work start*/

.rw_h1 {
    padding: 0 0 150px;
}

.rwr_ci {
    bottom: 100%;
}

.rwr_ci [data-bs-target] {
    margin: 0px 5px;
    padding: 20px 4px;
}

/*Recent work end*/

/*Best pricing end*/

.best-pricing {
    padding-bottom: 80px;
}

/*Best pricing start*/

/*Co-Founder & COO start*/

.cofo {
    padding-bottom: 80px;
}

.nrht {
    margin-bottom: 180px;
}

.cofo_pn_btn {
    padding: 35px 347px;
    top: -90px;
    writing-mode: unset;
}

.cofo_ct_p {
    top: 19px;
    right: 0; 
    left: -340px;
}

.cofo_ct_n{
    top: 19px;
    right: -340px; 
    left: 0;
}

.cofo_ind {
    height: 0;
    right: 0; 
    top: -68px;
    margin: 0;
    flex-direction: row;
    align-items: flex-start;
}

.cofo_img {
    margin: 40px 0 0;
    position: relative;
}

.cofo_i {
    top: 61px;
}

.cofo_ind [data-bs-target] {
    margin: 0 4px 0;
    width: 2px;
    height: 18px;
}

.cofo_content {
    padding: 20px 15px;
}

.cofo_p {
    margin: 10px 0;
}

.cofo_p2 {
    margin: 20px 0;
}

/*Co-Founder & COO end*/

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
/*Header Start*/

.menu ul li a {
    margin-right: 20px;
}

/*Header End*/

/*Slider start*/

.slider {
    padding: 100px 0;
}

/*Slider start*/

/*About us start*/

.abu_img {
    padding: 80px 0
}

/*About us end*/

/*Who work with us end*/

.wwwu_col {
    padding: 0 10px;
}

.wwwu_text {
    padding: 13px;
}

.wwwu_li {
    padding: 10px 5px 4px;
}

.wwwu_ul {
    top: 20px;
}

.wwwu_i {
    font-size: 20px;
}

.wwwu_h5 {
    font-size: 17px;
}

/*Who work with us start*/

/*Nipro Responsive HTML Template start*/

.bp_item {
    margin: 100px 0;
    padding: 50px 18px 40px;
}

.bp_btn {
    padding: 18px 37px;
}

/*Nipro Responsive HTML Template end*/

/*Co-Founder & COO start*/

.cofo_ind{
    bottom: 220px;
}

.cofo_img {
    width: 103%;
}

.cofo_pn_btn {
    padding: 242px 35px;
}

/*Co-Founder & COO end*/
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
/*Slider start*/

.slider {
    padding: 120px 0;
}

.b_text p {
    margin: 40px 110px 50px 0;
}

/*Slider start*/

/*About us start*/

.abu_img {
    padding-right: 20px;
}

.abu_h1 {
    margin-bottom: 20px;
}

.abu_text p {
    margin: 0 1px 20px 0;
    line-height: 25px;
}

/*About us end*/

/*Nipro Responsive HTML Template start*/

.bp_btn {
    padding: 18px 48px;
}

/*Nipro Responsive HTML Template end*/

/*Co-Founder & COO start*/

.cofo_pn_btn {
    padding: 236px 35px;
}

/*Co-Founder & COO end*/
}

/*Extra extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {
    
}